@import url('./app.css');
@import url('./journal.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .app-text {
    @apply text-slate-800 dark:text-white transition-all;
  }
  .app-fill {
    @apply fill-slate-800 dark:fill-white transition-all;
  }
  .app-stroke {
    @apply stroke-slate-800 dark:stroke-white transition-all;
  }
  .app-bg {
    @apply bg-white dark:bg-slate-900;
  }
  .home-wave-on-top {
    transform: perspective(100vw) translateZ(0px) translateY(-50%);
  }

  .dotted-pattern-light {
    background-image: radial-gradient(
        theme(colors.blue.300) 1.05px,
        transparent 1.05px
      ),
      radial-gradient(theme(colors.blue.300) 1.05px, transparent 1.05px);
    background-size: 42px 42px;
    background-position: -42px -42px, -21px -21px;
  }

  .dotted-pattern-dark {
    background-image: radial-gradient(
        theme(colors.blue.900) 1.05px,
        transparent 1.05px
      ),
      radial-gradient(theme(colors.blue.900) 1.05px, transparent 1.05px);
    background-size: 42px 42px;
    background-position: 0 0, 63px 63px;
  }

  @keyframes rainfall {
    0% {
      background-position: 0 -42px, 21px -21px;
    }
    100% {
      background-position: 0 0, 21px 63px;
    }
  }

  .dotted-pattern {
    @apply dark:dotted-pattern-dark dotted-pattern-light transition-all duration-[2000ms] ease-in-out;

    /* animation: rainfall 450ms linear infinite; */
  }
}

@supports not (backdrop-filter) {
  .backdrop-filter-fallback-opacity {
    --tw-bg-opacity: 1;
  }
}
